body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: black;
    font-family: Tahoma, serif;
}

ul li a {
    list-style: none;
    display: block;
}
h4{
    margin-left: 20px;
}

.container {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.paymeny1{
    width: 1250px;
    height: auto;
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: solid 1px #999999;
    /*background: bisque;*/
    display: inline-flex;
}

.step1{
    width: 625px;
    cursor: pointer;
    /*height: 550px;*/
    /*padding: 10px 50px;*/
    /*margin-left: 100px;*/
    border-right: solid 1px #999999;
    /*border-radius: 10px;*/
    /*border: solid 1px #999999;*/
    /*box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);*/

}
.pay{
    width: 625px;
    height: 350px;
    border-top-left-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}
.form-group{
    width: 400px;
    height: 30px;
    cursor: pointer;
    margin-left: 100px;
    display: inline-flex;
    margin-top: 10px;
}
.control-label{
    float: left;
    width: 100px;
    margin-top: 5px;
}
.form-group input{
    width: 250px;
    height: 25px;
    cursor: pointer;
    margin-left: 30px;
    padding-left: 15px;
    border-radius: 5px;
    border:  solid 1px black;
}
.sex1{
    width: 250px;
    height: 25px;
    cursor: pointer;
    margin-left: 30px;
    padding-left: 15px;
    border-radius: 5px;
    border:  solid 1px black;
}
#city{
    width: 250px;
    height: 25px;
    cursor: pointer;
    margin-left: 30px;
    border-radius: 5px;
    border:  solid 1px black;
}
#district{
    width: 250px;
    height: 25px;
    cursor: pointer;
    margin-left: 30px;
    border-radius: 5px;
    border:  solid 1px black;
}
#ward{
    width: 250px;
    height: 25px;
    cursor: pointer;
    margin-left: 30px;
    border-radius: 5px;
    border:  solid 1px black;
}
.step2{
    width: 625px;
    height: auto;
    /*border-radius: 10px;*/
    /*border: solid 1px #999999;*/
}
.content_step2{
    margin-left: 20px;
}
.radio input{
    cursor: pointer;
}
.form-control{
    margin-left: 10px;
    width: 450px;
    padding-left: 10px;
}
.step3{
    width: 625px;
    height: auto;
}
.info_cart{
    width: 450px;
    height: auto;
    /*margin-left: 20px;*/
    /*border-radius: 10px;*/
    /*display: block;*/
    /*background: #E8ECEE;*/
}
.step3_pay{
    width: 400px;
    height: 120px;
    display: block;
}
/*.payment_step3{*/
/*    width: 420px;*/
/*    height: 120px;*/
/*    display: flex;*/
/*    background-color: #999999;*/
/*    border-radius: 10px;*/
/*    !*display: inline-flex;*!*/
/*}*/
.img_product{
    width: 100px;
    height: 100px;
    margin: 10px;
    border: solid 1px black;
}
.img_product1{
    width: 100px;
    height: 100px;
}
/*.info_pay{*/
/*    margin: 10px;*/
/*}*/
.price{
    display: inline-flex;
    margin: -20px 0;
}
.total_order{
    height: auto;
    float: right;
    margin-bottom: 10px;

}
.total{
    margin-top: -15px;
    margin-right: 50px;
}
/*.order{*/
/*    float: right;*/
/*    width: 100px;*/
/*    height: 30px;*/
/*    margin: 20px;*/
/*    border: solid 1px black;*/
/*    border-radius: 8px;*/
/*    background: #FF0000;*/
/*}*/
.order{
    width: 100px;
    height: 40px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: red;
}
.order:hover{
    color: black;
    cursor: pointer;
}

