body{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    color: black;
}
.checkout{
    margin-left: 500px;
    margin-top: 10px;
}
.check_info{
    margin-left: -200px;
}
.content{
    width: 1250px;
    height: auto;

}
.step1{
    width: 750px;
    height: 550px;
    padding: 10px 50px;
    margin-left: 200px;
    border-radius: 10px;
    border: solid 1px #999999;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}
.form-group{
    width: 800px;
    height: 40px;
    margin-top: 20px;
    display: inline-flex;
    /*background: #1c94c4;*/

}
.control-label {
    width: 150px;
    height: 30px;
    padding-top: 10px;
    display: inline-flex;
    /*background: #FF0000;*/
}
.name1{
    width: 600px;
    height: 30px;
    margin-top: 5px;
    padding-left: 10px;
    border: solid 1px black;
    border-radius: 10px;
}
.phone2 {
    width: 600px;
    height: 30px;
    margin-top: 5px;
    padding-left: 10px;
    border: solid 1px black;
    border-radius: 10px;
}
.sex1 {
    width: 600px;
    height: 30px;
    margin-top: 5px;
    padding-left: 10px;
    border: solid 1px black;
    border-radius: 10px;
}

#city{
    width: 600px;
    height: 30px;
    margin-top: 4px;
    padding-left: 10px;
    border: solid 1px black;
    border-radius: 10px;
}
#district{
    width: 600px;
    height: 30px;
    margin-top: 4px;
    padding-left: 10px;
    border: solid 1px black;
    border-radius: 10px;
}
#ward{
    width: 600px;
    height: 30px;
    margin-top: 4px;
    padding-left: 10px;
    border: solid 1px black;
    border-radius: 10px;
}
.address2 {
    width: 600px;
    height: 30px;
    margin-top: 5px;
    padding-left: 10px;
    border: solid 1px black;
    border-radius: 10px;
}
.email2{
    width: 600px;
    height: 30px;
    margin-top: 5px;
    padding-left: 10px;
    border: solid 1px black;
    border-radius: 10px;
}

.step2{
    width: 550px;
    height: 500px;
    margin: 20px 0 0 40px;
    padding: 10px 0 0 50px;
    border-radius: 10px;
    border: solid 1px #999999;
    /*box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);*/
    background: white;
}
.text_step2{
    font-weight: bold;
}
.phi{
    width: auto;
    height: 60px;
}
.viettelPost{
    float: left;

}
.note_order{
    font-weight: bold;

}
.form-control{
    width: 500px;

}
.step3{
    width: 500px;
    height: auto;
    float: right;
    margin-top: -515px;
    margin-right: 40px;
    padding-left: 50px;
    border-radius: 10px;
    border: solid 1px #999999;
    /*box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);*/
}
.info_cart{
    width: auto;
    display: inline-flex;
    height: auto;
    /*overflow: hidden;*/
}

.img_product{
    width: 50px;
    height: 90px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}
/*.img_product:hover{*/
/*    transform: scale(1.1);*/

/*}*/
.info_pay{
    width: auto;
    height: auto;
}
.total{
    margin-top: 10px;
    float: right;
    margin-right: 20px;
}
.btn_dathang{
    float: right;
    margin: -80px 40px 0 0;
    padding: 10px 10px;
    font-size: 25px;
    color: white;
    background: #FF0000;
    border-radius: 10px;
    border: 2px solid #FF0000;
}
.btn_dathang a{
    text-decoration: none;
    color: white;
}